version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: eventra-mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
      MONGO_INITDB_DATABASE: eventra
    ports:
      - '27017:27017'
    volumes:
      - mongodb_data:/data/db
    networks:
      - eventra-network

volumes:
  mongodb_data:
    driver: local

networks:
  eventra-network:
    driver: bridge
